.providers-checklist {
    padding: 10px; 
}

.input-providers-checklist {
    width: 12px; height: 12px;
    border-radius: 50%;
    transition: box-shadow .3s;
    background: lightgrey;
    cursor: pointer;
    border: 0;
    appearance: none; -webkit-appearance: none;
}

.label-providers-checklist {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-image: linear-gradient(135deg, #0693E3FF 0%, #9B51E0FF 100%);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.header-logo {
    height: 5rem;
    padding: 1rem;
}

.provider-logo {
    height: 4rem;
    padding: 1rem;
}

.title-headers {
    margin-left: 1em;
}

.provider-dropdown {
    margin: .5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.provider-iframe {
    height: 16rem;
    width: 17rem;
    margin: .5rem;
    padding: 0%;
}

.provider-frame {
    height: 100%;
    width: 18.4rem;
    border: 1rem;
    margin-right: .5rem;
    background-color: aliceblue;
    display:inline-block;
}

.body {
    margin:0px
}